# This File is used to create a list of requirements needed for testing stratum-mining or to create a clone install
BeautifulSoup==3.2.1
MySQL-python==1.2.3
Twisted==12.0.0
argparse==1.2.1
autobahn==0.6.5
defer>=1.0.4
distribute==0.6.28
ecdsa==0.10
feedparser==5.1.2
fpconst==0.7.2
httplib2==0.7.4
pyOpenSSL==0.13
pyasn1==0.1.3
pycrypto==2.6
pyserial==2.5
python-memcached==1.48
pyxdg==0.19
simplejson==2.5.2
zope.interface==3.6.1
